<!DOCTYPE html>
<html lang="en", xml:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/book/new}" th:object="${book}">
  <label for="title">Enter Title: </label>
  <input type="text" th:field="*{title}" id="title"/>
  <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error</div>
  <br/>
  <label for="author">Enter Author: </label>
  <input type="text" th:field="*{author}" id="author"/>
  <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author error</div>
  <br/>
  <label for="yearOfPublication">Enter year of publication: </label>
  <input type="text" th:field="*{yearOfPublication}" id="yearOfPublication"/>
  <div style="color:red" th:if="${#fields.hasErrors('yearOfPublication')}" th:errors="*{yearOfPublication}">Year of publication error</div>
  <br/>
  <label for="description">Enter description: </label>
  <input type="text" th:field="*{description}" id="description"/>
  <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description error</div>
  <br/>
  <a th:href="@{/admin/book}">Back</a>
  <br/>
  <input style="color: green" type="submit" value="Create!"/>
</form>

</body>
</html>